.home-container {
  border: var(--border);
  min-height: 100vh;
  margin: 15px;
}

.card-title {
  font-size: small;
  padding: 5px;
  border-bottom: 1px solid var(--underline-color);
  margin-bottom: 5px;
}

.outer-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  color: #444;
}

.inner-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  color: #444;
}

.box {
  /* This is for layout only - to view uncomment the background color See next box for what holds information*/
  /* background-color: var(--cards-background-color); */
  color: var(--text);
  border-radius: 5px;
  padding: 5px;
}

.box .box {
  /* background-color: #ccc; */
  background-color: var(--cards-background-color);
  color: var(--text);
}


.a {
  grid-column: 1;
  grid-row: 1 / span 3;
}

.b {
  grid-column: 2;
  grid-row: 1;
}

.c {
  grid-column: 3;
  grid-row: 1;
}

.d {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.time {
  grid-column: 1;
  grid-row: 1;
}

.e {
  grid-column: 1;
  grid-row: 2;
}

.f {
  grid-column: 1;
  grid-row: 3;
}

.g {
  grid-column: 1;
  grid-row: 3;
}

.assign-date {
  color: var(--dark-green-text);
}

/* todo lists */
.todo-container {
  border: var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  border: var(--border);
  width: 100%;
  height: 110px;
  margin: 10px;
}