.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--base);
}

.stocks-container {
  border-right: 1px solid #5f6062 !important;
  border-left: 1px solid #5f6062 !important;
  text-align: center;
}

.header-container .column {
  border: var(--border);
  flex: 50%;
  padding-left: 2px;
  padding-right: 2px;
}

.stocks-container ul {
  padding-inline-start: 5px !important;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.stocks-container ul li {
  display: inline-block;
}

/* .column p {
  I don't think I use this 
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
} */

.title {
  font-size: 20px;
  color: var(--title-text);
}

.right-column {
  border: var(--border);
  text-align: right;
}

.user-name {
  border: var(--border);
  font-size: 16px;
  color: var(--text);
  /* text-align: center; */
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.colorado-flag {
  border: var(--border);
  height: 2.1rem;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-right: 0.5rem;
}

.chicago-flag {
  border: var(--border);
  height: 1.5rem;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-right: 0.5rem;
}

time {
  color: green;
  margin-right: 1.5rem;
}

span.deleteStockBtn:hover {
  cursor: pointer;
	visibility: visible;
	opacity: 1;
}

.deleteStockBtn {
	float: right;
	color: red;
	background: rgba(0,0,0,0);
	font-size: 20px;
	font-weight: bold;
	border: 1px solid white;
	border-radius: 50%;
	padding: 10px 5px;
	visibility: hidden;
	opacity: 0;
	line-height: 0;
	margin-right: 5px;
	cursor: default;
}

.addStockBtn {
	float: right;
	color: red;
	background: rgba(0,0,0,0);
	font-size: 20px;
	font-weight: bold;
	border: 1px solid white;
	border-radius: 50%;
	padding: 10px 5px;
	visibility: hidden;
	opacity: 0;
	line-height: 0;
	margin-right: 5px;
	cursor: default;
}