.card {
  width: 100%;
}

.plus-icon {
  color: var(--dark-green-text);
}

.link {
  display: block;
  padding-left: 0.5em;
  font-size: 0.9em;
}
 
.link-wrapper:hover .deleteTaskBtn {
  cursor: pointer;
	visibility: visible;
	opacity: 1;
}

.link-wrapper {
  display: grid;
  grid-template-columns: 300px 40px;
}

.link-box {
  position: relative;
}

.link-url {
  grid-column: 1;
  grid-row: 1;
}

.link-delete-button {
  grid-column: 2;
  grid-row: 1;
}

.deleteTaskBtn {
  top: 0;
}
