.score-board-wrapper {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  background-color: #fff;
  color: #444;
  margin-bottom: 10px;
}

.score-board-box {
  background-color: #f2f2f2;
  color: #000;
  border-radius: 5px;
  padding: 2.5px;
  text-align: center;
  vertical-align: middle;
}

.score-board-record {
  padding: 0;
  margin: 0;
}

.score-board-text {
  text-align: center;
  vertical-align: middle;
}
