.individual-stock-container {
  /* margin-right: 2rem; */
}

.stock-symbol {
  font-size: 0.8em;
  color: var(--third-text);
}

.stock-arrow {
  margin-right: 5px;
}

.stock-is-up {
  color: green;
}

.stock-is-down {
  color: red;
} 

.stock-separator {
  color: yellow;
  /* not sure about this padding business */
  padding-left: 5px;
  padding-right: 5px;
}

.change {
  padding-right: 5px;
}

.price {
  padding-left: 5px;
}
