:root {
  --red: #ff6f69;
  --header: #000;
  --content-background-color: rgba(10.6, 11, 12.2, .75);
  --cards-background-color: rgba(16.5, 16.5, 16.5, .75);
  --yellow: #ffcc5c;
  --title-text: rgba(255, 255, 255, .75);
  --text: #fff;
  --border: 1px solid red;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: var(--content-background-color);
}

.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
